body{
  background-image: url(../img/psych.jpg);
  background-position: center;
}
.result{
  text-align: center;
}
h1{
  padding-top: 50px;
  font-size: 50px;
}
p{
  padding-top: 100px;
  font-size: 30px;
}
